html {
  font-size: 62.5%;
}
/* Mặc định: font-size của browser là ~16px
62.5% của 16px = 10px
Lợi ích: dễ tính rem cho toàn site
Đây là mẹo tính toán rem cho dễ
 */
/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  min-height: 200vh;
  /* 16 px */
}
/* Font */
.font__poppins--regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font__poppins--semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font__sen--bold {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* ===============all============== */

a {
  text-decoration: none;
}
.main__container {
  width: 1170px;
  max-height: 900px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn--opacity:hover {
  opacity: 80%;
  cursor: pointer;
}
/* text qua do dai thi se ... */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* text qua do dai 2 dong thi se... */
.line-clamp.line-2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
/*word-break: break-all; Nó cho phép ngắt chữ ở bất kỳ ký tự nào khi chữ quá dài và tràn ra ngoài khung (container).
Tức là không cần phải đợi khoảng trắng hay dấu gạch nối mới xuống dòng */
/* overflow-wrap: break-word;
Cho phép tự động xuống dòng khi từ quá dài không vừa trong khung (container).
Nhưng nó chỉ cắt từ khi thật sự cần thiết → nghĩa là giữ nguyên từ trọn vẹn nếu còn chỗ, chỉ xuống dòng khi vượt quá. */

/* =================header============ */
.header {
  background: #fffcf4;
  z-index: 1;
}
.header.header--fixed {
  position: sticky;
  top: -28px;
}
.header__logo:hover {
  scale: 1.2;
}
.header__body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}
.header__list {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  position: relative;
  padding: 8px 21px;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  display: block;
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.btn {
  transition: all 0.2s ease;
  display: inline-block;
  min-width: 118px;
  line-height: 50px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
.btn:hover {
  scale: 1.1;
}
.btn:active {
  scale: 0.8;
}

.btn--primary {
  min-width: 144px;
}
.btn--primary:active {
  scale: 0.8;
}
.header .header__actions {
  margin-left: 49px;
}
/* main */
.hero {
  background-color: #fffcf4;
}
.main__hero {
  background: #fffcf4;
  position: fixed;
}
.img--hero {
  width: 470px;
  height: 685px;
  object-fit: cover;
}

.main__media {
  width: 570px;
  height: 685px;
  background: #fffcf4;
  position: relative;
}
.main__media img {
  object-fit: cover;
  border-radius: 20px;
}
.main__media img:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.main__icon {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);

  align-items: center;

  position: absolute;
  border-radius: 20px;
  background: #ffff;
  width: 270px;
  height: 244px;
  right: -10px;
  bottom: 50px;
}
.main__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.icon {
  width: 48px;
  height: 48px;
  margin-left: 5px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.icon img {
  border-radius: 50%;
  object-fit: contain;
}
.icon:hover {
  scale: 1.1;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.icon p {
  margin-top: 5px;
  margin-left: 50px;
  position: relative;
  top: -50px;
  padding-left: 10px;
}
.icon > p {
  text-wrap: nowrap;
}
.main__body {
  display: flex;
}
.main__content {
  width: 470px;
  height: 564px;
  background: #fffcf4;
  margin-left: 50px;
  margin-top: 50px;
}
.right--content h1 {
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}
p.font__poppins--regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  opacity: 80%;
}
.btn-secondary {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background: #ffb900;
  color: #fff;
  text-align: center;
  border: #ffb900;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  transition: 0.2s ease;
}
.btn-secondary:active {
  scale: 0.8;
}
.button__main--secondary {
  display: flex;
  margin-top: 48px;
}
.button__main--secondary img {
  transition: 0.2s ease;
}
.button__main--secondary .btn-secondary:hover,
.btn-vid:hover,
.button__main--secondary img:hover {
  cursor: pointer;
  opacity: 80%;
  scale: 1.1;
}
.button__main--secondary .btn-secondary:active,
.btn-vid:active,
.button__main--secondary img:active {
  scale: 0.8;
}
.btn-vid {
  width: 148px;
  font-size: 18px;
  color: #171100;
  border: none;
  background: transparent;
  position: relative;
  left: -20px;
  top: -5px;
  transition: 0.2s ease;
}
.btn-vid:hover {
  scale: 1.1;
}
.btn-vid:active {
  scale: 0.8;
}
.content__desc--one {
  margin-top: 48px;
  opacity: 80%;
}
.content__desc--two {
  display: flex;
  margin-top: 8px;
}
.content__desc--two strong {
  display: inline-block;
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
}
.content__desc--two strong:hover {
  scale: 1.2;
}
.content__desc--two p {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-right: 28px;
}

/* popular */
.popular {
  margin-top: 200px;
}
.popular__head--title h2 {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.popular__container {
  background: #ffffff;
  margin-top: 100px;
}
.popular__head--des {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 458px;
}
.popular__head {
  display: flex;
  justify-content: space-between;
}
.btn--control--item1,
.btn--control--item2 {
  transition: all 0.2s ease;
}

.btn--control--item1,
.btn--control--item2 {
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  cursor: pointer;
  border: 2px solid #ffd700;
}

.btn--control--item1:hover img,
.btn--control--item2:hover img {
  filter: brightness(0) invert(1); /* chuyển ảnh sang trắng */
}
.btn--control--item1:hover,
.btn--control--item2:hover {
  background-color: #ffb900;
  scale: 1.1;
}

.btn--control--item1:active,
.btn--control--item2:active {
  scale: 0.8;
}
.popular__card--one,
.popular__card--two,
.popular__card--three {
  width: 370px;
  height: 480px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular__card--one:hover,
.popular__card--two:hover,
.popular__card--three:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.popular__head--des {
  display: flex;
}
.popular__main--desc {
  display: flex;
  justify-content: space-between;
  margin: 17px 22px;
  align-items: center;
  margin-top: 17px;
}
.popular__item--desc {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.popular__icon--star {
  color: #ffb900;
  display: flex;
  align-content: baseline;
}
.popular__icon--star .star {
  margin-right: 5px;
  margin-top: -3px;
}
.popular__card--img {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
.popular__content--card1 {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  width: 326px;
  margin: 0 auto;
}
.button--yellow {
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #000000;
}
.button--yellow:hover {
  background: #ffb900;
  border: #ffb900;
}
.popular__action {
  display: flex;
  margin: 17px 22px;
  align-items: center;
  justify-content: space-between;
}
.popular__price {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.popular__main {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  flex: 1;
}
/* <!-- Testimonial -->  */
.testimonial {
  width: 100%;
  background: #2e2100;
  margin-top: 200px;
}
.testimonial__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-author {
  transition: all 1s ease;
  border-radius: 999px;
  border: transparent;
}
.testimonial-author:hover {
  scale: 1.1;
}

.testimonial-author--name {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}
.testimonial-author--job {
  color: #bfbcb2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.testimonial-content {
  width: 63%;
  display: flex;
  margin: 98px;
  margin-right: -3px;
}

.testimonial-content p {
  color: #fff;
  font-family: var(--poppins__font);
  font-size: 26px;
  font-style: italic;
  font-weight: var(--poppins-weight);
  line-height: 40px; /* 153.846% */
  opacity: 90%;
  margin-top: -15px;
  width: 740px;
}
.testimonial-content p::before {
  display: block;
  content: "";
  background-image: url(/assets/icon/Vector.svg);
  width: 30px;
  height: 28px;
  margin-left: -30px;
}
.testimonial__dots {
  margin-top: 28px;
  cursor: pointer;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  margin: 0 5px;
  display: inline-block;
}
.dot:hover,
.dot:active {
  scale: 2;
  background: #ffb900;
}

.dot.dot--active {
  background: #ffb900;
}
/* Features */
.features.main__container,
.features--2nd.main__container {
  margin-top: 200px;
}
.features__one {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.features__image {
  display: flex;
  gap: 30px;
}
.features__image img {
  border-radius: 16px;

  display: flex;
  gap: 30px;
}

.features__image img:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.features__one-img1 {
  margin-top: 34px;
}

.features__content {
  margin-top: 50px;
  display: grid;
  margin-left: 130px;
  grid-template-rows: repeat(4, 1fr);
  max-width: 570px;
  row-gap: 10px;
}
.features__content h2 {
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}
.features__content p {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.features__content-desc:last-of-type {
  margin-bottom: 0;
  width: fit-content;
  height: fit-content;
}
.features__button {
  margin-top: -45px;
  width: fit-content;
  height: fit-content;
}

.button__cta {
  transition: all 0.2s ease;
  border: transparent;
  border-radius: 999px;
  background: #ffb900;
  width: 137px;
  height: 50px;
  flex-shrink: 0;
  color: #f7f7f7;
}

.button__cta:hover {
  scale: 1.1;
}
.button__cta:active {
  scale: 0.8;
}
.features__two {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.features__two .features__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 0;
}
.features__two .features__image img {
  width: 470px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 20px;
}
.features__two p {
  margin-top: -40px;
}
/* blog */
.blog {
  width: 100%;
  background: #fffcf4;
  margin-top: 200px;
}

.blog__heading {
  margin: 96px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  margin-bottom: 55px;
}

.blog__title {
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  width: 154px;
}
.blog__desc {
  color: #696262;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 448px;
}
.blog__post span {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.blog__post h3 {
  color: #171100;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  width: 330px;
  margin-left: 20px;
}

.blog__body {
  columns: 3 auto;

  column-gap: 30px;
}

.blog__body .blog__post:first-child button {
  background: #ffb900;
}
.blog__post button {
  background: #000;
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.blog__post button:hover,
.blog__post button:active {
  background: #ffb900;
}
.blog__date {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-left: 8px;
  margin-top: 20px;
  margin-bottom: 12px;
  margin-left: 28px;
  transition: all 0.3s ease-out;
}
.blog__date::before {
  content: "";
  position: absolute;

  width: 6px;
  height: 6px;
  flex-shrink: 0;
  background-color: #ffd700;
  border-radius: 50%;
  left: -8px;
}
.blog__date::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 1px;
  flex-shrink: 0;

  border-radius: 0.5px;
  background: #e2dfda;
  align-self: flex-end;
  left: -8px;
}
.blog__date:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.blog__post:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.blog__post {
  width: 370px;

  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.blog__dots {
  padding-top: 38px;
  padding-bottom: 98px;
  width: 30px;
  flex-shrink: 0;
  margin: 0 auto;
}
.blog__dots span {
  margin: 0.5px;
}
.blog__dots span:hover {
  scale: 1.2;
}
/* Footer */
footer {
  background: #2e2100;
}
.footer__container {
  display: grid;

  grid-template-columns: 1.5fr 1fr 1fr 1fr;

  position: relative;
}
.footer__column {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
}
.footer__column p {
  color: #bfbcb2;
  width: 267px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.footer__column.footer__intro {
  margin-top: 96px;
}

.footer__column.footer__intro img {
  width: 85px;
  margin-top: 5px;
  margin-bottom: 18px;
}
.footer__column.footer__intro p {
  padding-top: 15px;
}

.footer__social {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 0px;
  width: 111px;
  margin-left: -30px;
}

.footer__social a {
  width: 25px;
  height: 16px;
}

.footer__social img {
  width: 15px;
  height: 15px;
  display: block;
}

.footer__social img:hover {
  scale: 1.1;
}

/* column 2 */
.footer__heading {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  margin-bottom: 43px;
  position: relative;
}
.footer__body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 38px;
  min-width: 205px;
}
.footer__column a {
  color: #bfbcb2;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.footer__body strong {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
}
.footer__heading::after {
  content: "";
  background: #59554b;
  width: 130px;
  height: 1px;
  flex-shrink: 0;
  position: absolute;
  opacity: 70%;
  left: 0;
  top: 48px;
  bottom: 0;
}
.footer--copyright {
  grid-column: 1 / -1;
  /* or span 4 */
  justify-self: center;

  font-size: 14px;
  color: #aaa;
  position: relative;
  width: 100%;
  margin: 28px;
}
.footer--copyright p {
  color: #807d74;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.footer--copyright::before {
  content: "";
  background: #59554b;
  height: 1px;
  flex-shrink: 0;
  position: absolute;
  top: -28px;
  width: 100%;
}
